<div class="preview">
  <div class="top">
  </div>

  <div class="bottom">
  </div>
</div>

<%= form_for @order do |f| %>

<div class="form-group" id="cust_form">
	<ul>
    <% if params[:product_id] == '1' %>
    		<li><%= f.label :top_colour, 'Select your top style', :class => 'cust_label' %>
    			<%= f.select :top_colour, options_for_select([['Geo','Geo'],['Pineapple','Pineapple'],['Tropical','Tropical']]) %>
    		<li><%= f.label :bottom_colour, 'Select your bottom style', :class => 'cust_label' %>
    			<%= f.select :bottom_colour, options_for_select([['Geo','Geo'],['Pineapple','Pineapple'],['Tropical','Tropical']]) %>
      <% else %>
        <li><%= f.label :top_colour, 'Select your top style', :class => 'cust_label' %>
          <%= f.select :top_colour, options_for_select([['Floral','Floral'],['Ice-Cream','Ice-Cream'],['Retro','Retro']]) %>
        
        <li><%= f.label :bottom_colour, 'Select your bottom style', :class => 'cust_label' %>
          <%= f.select :bottom_colour, options_for_select([['Floral','Floral'],['Ice-Cream','Ice-Cream'],['Retro','Retro']]) %>
      <% end %>

        <li><%= f.label :top_size, 'Select your top size', :class => 'cust_label' %>
        <%= f.select :top_size, options_for_select([['Small','S'],['Medium','M'],['Large','L']]) %>
        <li><%= f.label :bottom_size, 'Select your bottom size', :class => 'cust_label' %>
        <%= f.select :bottom_size, options_for_select([['Small','S'],['Medium','M'],['Large','L']]) %>
	</ul>

  <div id='checkout_button'>
    <button class='btn btn-primary'>Checkout</button>
  </div>

</div>



<% end %>

<script>
  $(document).ready(function () {
  	<% if params[:product_id] == '1' %>
  	var kind = 'triangle';
  	<% else %>
  	var kind = 'bandeau';
  	<% end %>
  	$('#order_top_colour').on('change', function () {
  		var colour = $(this).val();
  		var $img = $('<img>');
  		$img.attr('src', '/assets/' + kind + '_top_' + colour.toLowerCase() + '.png');
  		$('.preview .top').html($img);
  	}).trigger('change');

  	$('#order_bottom_colour').on('change', function () {
  		var colour = $(this).val();
  		var $img = $('<img>');
  		$img.attr('src', '/assets/' + kind + '_bottom_' + colour.toLowerCase() + '.png');
  		$('.preview .bottom').html($img);
  	}).trigger('change');


  });
</script>