<%= form_for @order do |f| %>
<ul>
<li><%= f.label :top_size, 'Select your top size' %>
	<%= f.select :top_size, options_for_select([['Small','S'],['Medium','M'],['Large','L']]) %>
<li><%= f.label :top_colour, 'Select your top style' %>
	<%= f.select :top_colour, options_for_select([['Geo','Geo'],['Pineapple','Pineapple'],['Tropical','Tropical']]) %>
<li><%= f.label :bottom_size, 'Select your bottom size' %>
	<%= f.select :bottom_size, options_for_select([['Small','S'],['Medium','M'],['Large','L']]) %>
<li><%= f.label :bottom_colour, 'Select your bottom style' %>
	<%= f.select :bottom_colour, options_for_select([['Geo','Geo'],['Pineapple','Pineapple'],['Tropical','Tropical']]) %>
</ul>
<button>Checkout</button>
<% end %>