<h2>Order summary</h2>

<p>Customer number: <%= @customer.id %></p>
<p>Name: <%= @customer.first_name %> <%= @customer.last_name %></p>
<p>Address: <%= @customer.unit_number %> <%= @customer.street_number %> <%= @customer.street_name %> <%= @customer.suburb %> <%= @customer.postcode%></p>
<p>Top size: <%= @order.top_size %></p>
<p>Top style: <%= @order.top_colour %></p>
<p>Bottom size: <%= @order.bottom_size %></p>
<p>Bottom style: <%= @order.bottom_colour %></p>


<%= form_tag '/complete' do %>
<button class='btn btn-primary'>Buy Now</button>
<% end %>

