<%= form_for @customer do |f| %>
<ul>
<li><%= f.label :first_name, 'First name' %>
	<%= f.text_field :first_name %>
<li><%= f.label :last_name, 'Last name' %>
	<%= f.text_field :last_name %>
<li><%= f.label :unit_number, 'Unit number' %>
	<%= f.text_field :unit_number %>
<li><%= f.label :street_number, 'Street number' %>
	<%= f.text_field :street_number %>
<li><%= f.label :suburb, 'Suburb' %>
	<%= f.text_field :suburb %>
<li><%= f.label :postcode, 'Postcode' %>
	<%= f.text_field :postcode %>
</ul>
<button>Save</button>
<% end %>