<h2>Hi <%= @customer.first_name %>!</h2>

<h3>These are your account details:</h3>

<label>First name:</label> <%= @customer.first_name %></p>
<label>Last name:</label> <%= @customer.last_name %></p>
<label>Email:</label> <%= @customer.email %></p>
<label>Unit number:</label> <%= @customer.unit_number %></p>
<label>Street number:</label> <%= @customer.street_number %></p>
<label>Suburb:</label> <%= @customer.suburb%></p>
<label>Postcode:</label> <%= @customer.postcode%></p>



